.buy-bitboy {
  background-color: black;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buy-bitboy h1 {
  color: white;
  margin: 20px 0;
}
.bitboys {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.bitboys p {
  background-color: white;
  width: 200px;
  box-sizing: border-box;
  height: 150px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
}
.bitboys p:hover {
  transform: scale(1.05);
}
