@import "../../global.scss";
.uniswapPankcake{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    // height: 70vh;
    position: relative;
    @include mobile_potrait{
    }
    @include mobile_landscape{
    }
    .uniBg{
        width: 100%;
        top : 0;

    }
    h1{
        z-index: 1;
        position: absolute;
        color: #fff;
        font-size: 10rem;
        @include mobile_potrait{
            font-size: 3rem;
        }
        @include mobile_landscape{
            font-size: 5rem;
        }
    }
    .text{
        color: white;
        position: absolute;
        bottom: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include mobile_potrait{
            bottom: 5%;
        }
        @include mobile_landscape{
            bottom: 5%;
        }
        p{
            margin-bottom: 2rem;
            text-align: center;
            font-size: 2rem;
            width: 70%;
            @include mobile_potrait{
                font-size: 0.8rem;
                width: 90%;
                margin-bottom: 0.5rem;
            }
            @include mobile_landscape{
                font-size: 0.8rem;
                width: 90%;
                margin-bottom: 0.5rem;
            }
        }
        .links{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            width: 70%;
            a{
                width: 30%; 
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: all 0.4s ease;
                text-decoration: none;
                color: rgb(204, 204, 204);
                font-size: 2rem;
                @include mobile_potrait{
                    font-size: 0.8rem;
                    margin-bottom: 0rem;
                }
                @include mobile_landscape{
                    font-size: 0.8rem;
                    margin-bottom: 0rem;
                }
                &:hover{
                    color: rgb(255, 255, 255);
                }
            }
        }
        
    }
    .uniswapPankcakeContent{
        width: 100%;
        display: flex;
        z-index: 1;
        position: absolute;
        @include mobile_potrait{
            top:20%
        }
        @include mobile_landscape{
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        
        .left{
            flex: 0.5;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .right{
            flex: 0.5;
        }
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            a{
                width: 30%; 
                margin-bottom: 2rem;
                margin-top: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: all 0.4s ease;

                text-decoration: none;
                @include mobile_potrait{
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                }
                @include mobile_landscape{
                    margin-bottom: 1rem;
                }
                img{
                    width: 100%;
                    
                }
                &:hover{
                    box-shadow: 5px 5px 20px rgb(0, 0, 0);
                }
            }
            
            h2{
                color: #ffffff;
                // width: 100%;
                font-size: 2.5rem;
                font-style: italic;
                @include mobile_potrait{
                    font-size: 1rem;
                }
                @include mobile_landscape{
                    font-size: 1rem;
                }
            }
            p{
                width: 90%;
                color:white;
                font-size: 1.2rem;
                line-height: 2rem;
                margin-top: 2rem;
                @include mobile_potrait{
                    font-size: 0.8rem;
                    line-height: 1.2rem;
                    margin-top: 1rem;
                }
                @include mobile_landscape{
                    font-size: 0.7rem;
                    line-height: 1rem;
                    margin-top: 1rem;
                }
            }
        }
    }
   
}